[user]
    name = Michael Goerz
    email = goerz@stanford.edu
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
[alias]
     st = status
     ci = commit
     br = branch
     co = checkout
     df = diff
     lg = log -p
     logv = log --name-status
     ls = ls-files
     serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
     fetch = fetch -v
     up = "!git remote update -p; git merge --ff-only @{u}"
[color]
    ui = true
[merge]
    tool = extMerge
[mergetool "extMerge"]
   cmd = extMerge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
   trustExitCode = false
[diff "pdf"]
  textconv = pdf2txt
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[push]
    default = tracking
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
