[user]
    name = Michael Goerz
    email = mail@michaelgoerz.net
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
    attributesfile = ~/.gitattributes
    quotePath = false
[alias]
     st = status
     ci = commit
     br = branch
     co = checkout
     df = diff
     lg = log -p
     logv = log --name-status
     ls = ls-files
     serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
     fetch = fetch -v
     up = "!git remote update -p; git merge --ff-only @{u}"
     graph = "log --graph --decorate --pretty=format:'%Creset%h:%C(bold Blue)%d%Creset %an %cd (%cr)%n%s%n' --date=short --exclude '*/gh-pages'"
[color]
    ui = true
[color "decorate"]
    HEAD = ""
    branch = "bold Blue"
    tag = "bold Blue"
[log]
    graphColors = normal
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool "extMerge"]
    cmd = extMerge $BASE $LOCAL $REMOTE $MERGED
   trustExitCode = false
[diff "pdf"]
  textconv = pdf2txt
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path = 
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[push]
    default = tracking
[diff "jupyternotebook"]
    command = git-nbdiffdriver diff
[merge "jupyternotebook"]
    driver = git-nbmergedriver merge %O %A %B %L %P
    name = jupyter notebook merge driver
[github]
    user = goerz
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[rebase]
    autosquash = true
[init]
    defaultBranch = master
