[user]
    name = Michael Goerz
    email = mail@michaelgoerz.net
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
    attributesfile = ~/.gitattributes
    quotePath = false
[alias]
     st = status
     ci = commit
     br = branch
     co = checkout
     df = diff
     lg = log -p
     logv = log --name-status
     ls = ls-files
     serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
     fetch = fetch -v
     up = "!f() { \
         git remote update -p; \
         if git merge --ff-only @{u} 2>/dev/null; then \
             true; \
         elif pr_num=$(gh pr view --json number --jq .number 2>/dev/null); then \
             gh pr checkout \"$pr_num\"; \
         else \
             git merge --ff-only @{u}; \
         fi; \
     }; f"
     graph = "log --graph --decorate --pretty=format:'%Creset%h:%C(bold Blue)%d%Creset %an %cd (%cr)%n%s%n' --date=short --exclude '*/gh-pages'"
[color]
    ui = true
[color "decorate"]
    HEAD = ""
    branch = "bold Blue"
    tag = "bold Blue"
[log]
    graphColors = normal
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool "extMerge"]
    cmd = extMerge $BASE $LOCAL $REMOTE $MERGED
   trustExitCode = false
[diff "pdf"]
  textconv = pdf2txt.py
[push]
    default = tracking
    useForceIfIncludes = true
[diff "jupyternotebook"]
    command = git-nbdiffdriver diff
[merge "jupyternotebook"]
    driver = git-nbmergedriver merge %O %A %B %L %P
    name = jupyter notebook merge driver
[github]
    user = goerz
[rebase]
    autosquash = true
[init]
    defaultBranch = master
